@import "variaveis";

header {
  .row {
    margin-bottom: 0px;
    color: $azul;
  }
}

nav {
  box-shadow: none;
  height: 50px;
  line-height: 50px;
  .nav-wrapper {
    i {
      height: 50px;
      line-height: 50px;
    }
  }
  .dropdown-content {
    li {
      a, span {
        color: $azul;
      }
    }
  }
}

main {
  margin-top: 15px;
  blockquote {
    border-left-color: lighten($azul, 20%);
  }
  a {
    color: $azul;
    &:hover, &:focus, &:active {
      color: $link-hover-color;
    }
  }
}

footer {
  background-color: $azul;
  color: $branco;
  margin: 0px;
  padding: 10px 0 0;
  clear: both;
  .footer {
    background-color: $amarelo;
    color: $cinzaEscuro;
    padding: 5px 30px;
    p {
      margin: 0;
      padding: 0;
      font-size: 14px;
    }
    .footer-copyright {
      font-size: 12px;
      margin: 0;
      padding: 0;
    }
  }
}

#noticias {
  p {
    margin-top: 0px;
    a {
      color: $azul;
      font-weight: bold;
      line-height: 10px;
      letter-spacing: -0.6px;
    }
    &.categoria {
      text-transform: uppercase;
      color: $cinzaMedio;
      font-weight: bold;
      margin-bottom: 5px;
      margin-top: 5px;
    }
  }
}

#acesso {
  background-color: $azul;
  span {
    background-color: $amarelo;
    padding: 5px 10px;
    font-weight: bold;
    color: $azul;
    position: relative;
    left: 10px;
    top: -10px;
  }
  ul {
    margin-left: 40px;
    padding-left: 0;
    width: 37%;
    li {
      list-style: square;
      font-size: 12px;
      color: $amarelo;
      margin-bottom: 5px;
    }
    a {
      color: $branco;
      &:hover {
        color: darken($amarelo, 15%);
      }
    }
  }
}

.slider {
  h3 {
    font-size: 36px;
  }
  h5 {
    font-size: 26px;
  }
  .indicators {
    margin-bottom: 10px;
    .indicator-item {
      width: 10px;
      height: 10px;
      &.active {
        background-color: $azul;
      }
    }
  }
}

.tabs {
  margin-bottom: 5px;
  .indicator {
    background-color: $azul;
  }
  .tab {
    a {
      color: $azul;
      font-weight: bold;
      padding: 0px;
      &:hover, &.active {
        background-color: transparent;
        color: $link-hover-color;
      }
    }
  }
}

.item {
  position: absolute;
  width: 100%;
  text-align: center;
  color: $branco;
  h2 {
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-top: 10px;
  }
  p {
    padding-bottom: 10px;
    margin: 0px;
  }
}

.brand-logo {
  font-size: 3.6em !important;
}

.sidebar {
  img:first-child {
    margin-bottom: 18px;
  }
}

#fique {
  background-color: $amarelo;
  padding: 15px 0 5px;
  margin-bottom: 5px;
  #titulo {
    background-color: $azul;
    color: $branco;
    //border-top: 10px solid $amarelo;
    h3 {
      text-align: center;
      text-transform: uppercase;
      span {
        font-weight: lighter;
      }
    }
  }
  h5 {
    text-align: center;
    text-transform: uppercase;
    color: darken($azul, 15%);
    font-weight: bold;
  }
}

#content {
  img {
    margin-bottom: 10px;
    &.left {
      margin-right: 10px;
    }
    &.right {
      margin-left: 10px;
    }
  }
  .titulo {
    color: $azul;
    border-bottom: 1px solid $azul;
    font-size: 32px;
    font-weight: bold;
    padding-bottom: 15px;
    margin-bottom: 15px;
    margin-top: 0px;
  }
  span {
    margin-bottom: 15px;
    &.data {
      color: $cinzaMedio;
      position: relative;
      top: 4px;
      display: block;
    }
    i {
      position: relative;
      top: 3px;
      padding-right: 5px;
    }
    small {
      font-size: 14px;
      font-weight: normal;
      text-transform: uppercase;
    }
  }
  .justify {
    text-align: justify;
  }
}
@media only screen and (min-width: 993px){
  .container{
    width: 90%;
  }
}
