/* line 4, ../sass/app.scss */
header .row {
  margin-bottom: 0px;
  color: #0D47A1;
}

/* line 10, ../sass/app.scss */
nav {
  box-shadow: none;
  height: 50px;
  line-height: 50px;
}
/* line 15, ../sass/app.scss */
nav .nav-wrapper i {
  height: 50px;
  line-height: 50px;
}
/* line 22, ../sass/app.scss */
nav .dropdown-content li a, nav .dropdown-content li span {
  color: #0D47A1;
}

/* line 29, ../sass/app.scss */
main {
  margin-top: 15px;
}
/* line 31, ../sass/app.scss */
main blockquote {
  border-left-color: #2674ee;
}
/* line 34, ../sass/app.scss */
main a {
  color: #0D47A1;
}
/* line 36, ../sass/app.scss */
main a:hover, main a:focus, main a:active {
  color: #1366e8;
}

/* line 42, ../sass/app.scss */
footer {
  background-color: #0D47A1;
  color: #FFFFFF;
  margin: 0px;
  padding: 10px 0 0;
  clear: both;
}
/* line 48, ../sass/app.scss */
footer .footer {
  background-color: #ffe025;
  color: #292929;
  padding: 5px 30px;
}
/* line 52, ../sass/app.scss */
footer .footer p {
  margin: 0;
  padding: 0;
  font-size: 14px;
}
/* line 57, ../sass/app.scss */
footer .footer .footer-copyright {
  font-size: 12px;
  margin: 0;
  padding: 0;
}

/* line 66, ../sass/app.scss */
#noticias p {
  margin-top: 0px;
}
/* line 68, ../sass/app.scss */
#noticias p a {
  color: #0D47A1;
  font-weight: bold;
  line-height: 10px;
  letter-spacing: -0.6px;
}
/* line 74, ../sass/app.scss */
#noticias p.categoria {
  text-transform: uppercase;
  color: #4E4E4E;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 5px;
}

/* line 84, ../sass/app.scss */
#acesso {
  background-color: #0D47A1;
}
/* line 86, ../sass/app.scss */
#acesso span {
  background-color: #ffe025;
  padding: 5px 10px;
  font-weight: bold;
  color: #0D47A1;
  position: relative;
  left: 10px;
  top: -10px;
}
/* line 95, ../sass/app.scss */
#acesso ul {
  margin-left: 40px;
  padding-left: 0;
  width: 37%;
}
/* line 99, ../sass/app.scss */
#acesso ul li {
  list-style: square;
  font-size: 12px;
  color: #ffe025;
  margin-bottom: 5px;
}
/* line 105, ../sass/app.scss */
#acesso ul a {
  color: #FFFFFF;
}
/* line 107, ../sass/app.scss */
#acesso ul a:hover {
  color: #d8b900;
}

/* line 115, ../sass/app.scss */
.slider h3 {
  font-size: 36px;
}
/* line 118, ../sass/app.scss */
.slider h5 {
  font-size: 26px;
}
/* line 121, ../sass/app.scss */
.slider .indicators {
  margin-bottom: 10px;
}
/* line 123, ../sass/app.scss */
.slider .indicators .indicator-item {
  width: 10px;
  height: 10px;
}
/* line 126, ../sass/app.scss */
.slider .indicators .indicator-item.active {
  background-color: #0D47A1;
}

/* line 133, ../sass/app.scss */
.tabs {
  margin-bottom: 5px;
}
/* line 135, ../sass/app.scss */
.tabs .indicator {
  background-color: #0D47A1;
}
/* line 139, ../sass/app.scss */
.tabs .tab a {
  color: #0D47A1;
  font-weight: bold;
  padding: 0px;
}
/* line 143, ../sass/app.scss */
.tabs .tab a:hover, .tabs .tab a.active {
  background-color: transparent;
  color: #1366e8;
}

/* line 151, ../sass/app.scss */
.item {
  position: absolute;
  width: 100%;
  text-align: center;
  color: #FFFFFF;
}
/* line 156, ../sass/app.scss */
.item h2 {
  padding-bottom: 0px;
  margin-bottom: 0px;
  margin-top: 10px;
}
/* line 161, ../sass/app.scss */
.item p {
  padding-bottom: 10px;
  margin: 0px;
}

/* line 167, ../sass/app.scss */
.brand-logo {
  font-size: 3.6em !important;
}

/* line 172, ../sass/app.scss */
.sidebar img:first-child {
  margin-bottom: 18px;
}

/* line 177, ../sass/app.scss */
#fique {
  background-color: #ffe025;
  padding: 15px 0 5px;
  margin-bottom: 5px;
}
/* line 181, ../sass/app.scss */
#fique #titulo {
  background-color: #0D47A1;
  color: #FFFFFF;
}
/* line 185, ../sass/app.scss */
#fique #titulo h3 {
  text-align: center;
  text-transform: uppercase;
}
/* line 188, ../sass/app.scss */
#fique #titulo h3 span {
  font-weight: lighter;
}
/* line 193, ../sass/app.scss */
#fique h5 {
  text-align: center;
  text-transform: uppercase;
  color: #07285a;
  font-weight: bold;
}

/* line 202, ../sass/app.scss */
#content img {
  margin-bottom: 10px;
}
/* line 204, ../sass/app.scss */
#content img.left {
  margin-right: 10px;
}
/* line 207, ../sass/app.scss */
#content img.right {
  margin-left: 10px;
}
/* line 211, ../sass/app.scss */
#content .titulo {
  color: #0D47A1;
  border-bottom: 1px solid #0D47A1;
  font-size: 32px;
  font-weight: bold;
  padding-bottom: 15px;
  margin-bottom: 15px;
  margin-top: 0px;
}
/* line 220, ../sass/app.scss */
#content span {
  margin-bottom: 15px;
}
/* line 222, ../sass/app.scss */
#content span.data {
  color: #4E4E4E;
  position: relative;
  top: 4px;
  display: block;
}
/* line 228, ../sass/app.scss */
#content span i {
  position: relative;
  top: 3px;
  padding-right: 5px;
}
/* line 233, ../sass/app.scss */
#content span small {
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
}
/* line 239, ../sass/app.scss */
#content .justify {
  text-align: justify;
}

@media only screen and (min-width: 993px) {
  /* line 244, ../sass/app.scss */
  .container {
    width: 90%;
  }
}
